[

	{
		"name": "CWE121_Stack_Based_Buffer_Overflow__char_type_overrun_memcpy_01_good",
		"files": [ "ub_juliet/CWE121_Stack_Based_Buffer_Overflow__char_type_overrun_memcpy_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE121_Stack_Based_Buffer_Overflow__char_type_overrun_memcpy_01_good"
	},

	{
		"name": "CWE121_Stack_Based_Buffer_Overflow__char_type_overrun_memcpy_01_bad",
		"files": [ "ub_juliet/CWE121_Stack_Based_Buffer_Overflow__char_type_overrun_memcpy_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE121_Stack_Based_Buffer_Overflow__char_type_overrun_memcpy_01_bad"
	},

	{
		"name": "CWE122_Heap_Based_Buffer_Overflow__char_type_overrun_memcpy_01_good",
		"files": [ "ub_juliet/CWE122_Heap_Based_Buffer_Overflow__char_type_overrun_memcpy_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE122_Heap_Based_Buffer_Overflow__char_type_overrun_memcpy_01_good"
	},

	{
		"name": "CWE122_Heap_Based_Buffer_Overflow__char_type_overrun_memcpy_01_bad",
		"files": [ "ub_juliet/CWE122_Heap_Based_Buffer_Overflow__char_type_overrun_memcpy_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE122_Heap_Based_Buffer_Overflow__char_type_overrun_memcpy_01_bad"
	},

	{
		"name": "CWE124_Buffer_Underwrite__char_alloca_cpy_01_good",
		"files": [ "ub_juliet/CWE124_Buffer_Underwrite__char_alloca_cpy_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE124_Buffer_Underwrite__char_alloca_cpy_01_good"
	},

	{
		"name": "CWE124_Buffer_Underwrite__char_alloca_cpy_01_bad",
		"files": [ "ub_juliet/CWE124_Buffer_Underwrite__char_alloca_cpy_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE124_Buffer_Underwrite__char_alloca_cpy_01_bad"
	},

	{
		"name": "CWE126_Buffer_Overread__char_alloca_loop_01_good",
		"files": [ "ub_juliet/CWE126_Buffer_Overread__char_alloca_loop_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE126_Buffer_Overread__char_alloca_loop_01_good"
	},

	{
		"name": "CWE126_Buffer_Overread__char_alloca_loop_01_bad",
		"files": [ "ub_juliet/CWE126_Buffer_Overread__char_alloca_loop_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE126_Buffer_Overread__char_alloca_loop_01_bad"
	},

	{
		"name": "CWE127_Buffer_Underread__char_alloca_cpy_01_good",
		"files": [ "ub_juliet/CWE127_Buffer_Underread__char_alloca_cpy_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE127_Buffer_Underread__char_alloca_cpy_01_good"
	},

	{
		"name": "CWE127_Buffer_Underread__char_alloca_cpy_01_bad",
		"files": [ "ub_juliet/CWE127_Buffer_Underread__char_alloca_cpy_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE127_Buffer_Underread__char_alloca_cpy_01_bad"
	},

	{
		"name": "CWE196_Unsigned_to_Signed_Conversion_Error__basic_01_good",
		"files": [ "ub_juliet/CWE196_Unsigned_to_Signed_Conversion_Error__basic_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE196_Unsigned_to_Signed_Conversion_Error__basic_01_good"
	},

	{
		"name": "CWE196_Unsigned_to_Signed_Conversion_Error__basic_01_bad",
		"files": [ "ub_juliet/CWE196_Unsigned_to_Signed_Conversion_Error__basic_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE196_Unsigned_to_Signed_Conversion_Error__basic_01_bad"
	},

	{
		"name": "CWE401_Memory_Leak__char_calloc_01_good",
		"files": [ "ub_juliet/CWE401_Memory_Leak__char_calloc_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE401_Memory_Leak__char_calloc_01_good"
	},

	{
		"name": "CWE401_Memory_Leak__char_calloc_01_bad",
		"files": [ "ub_juliet/CWE401_Memory_Leak__char_calloc_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE401_Memory_Leak__char_calloc_01_bad"
	},

	{
		"name": "CWE415_Double_Free__malloc_free_char_01_good",
		"files": [ "ub_juliet/CWE415_Double_Free__malloc_free_char_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE415_Double_Free__malloc_free_char_01_good"
	},

	{
		"name": "CWE415_Double_Free__malloc_free_char_01_bad",
		"files": [ "ub_juliet/CWE415_Double_Free__malloc_free_char_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE415_Double_Free__malloc_free_char_01_bad"
	},

	{
		"name": "CWE416_Use_After_Free__malloc_free_char_01_good",
		"files": [ "ub_juliet/CWE416_Use_After_Free__malloc_free_char_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE416_Use_After_Free__malloc_free_char_01_good"
	},

	{
		"name": "CWE416_Use_After_Free__malloc_free_char_01_bad",
		"files": [ "ub_juliet/CWE416_Use_After_Free__malloc_free_char_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE416_Use_After_Free__malloc_free_char_01_bad"
	},

	{
		"name": "CWE457_Use_of_Uninitialized_Variable__char_pointer_01_good",
		"files": [ "ub_juliet/CWE457_Use_of_Uninitialized_Variable__char_pointer_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE457_Use_of_Uninitialized_Variable__char_pointer_01_good"
	},

	{
		"name": "CWE457_Use_of_Uninitialized_Variable__char_pointer_01_bad",
		"files": [ "ub_juliet/CWE457_Use_of_Uninitialized_Variable__char_pointer_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE457_Use_of_Uninitialized_Variable__char_pointer_01_bad"
	},

	{
		"name": "CWE469_Use_of_Pointer_Subtraction_to_Determine_Size__char_01_good",
		"files": [ "ub_juliet/CWE469_Use_of_Pointer_Subtraction_to_Determine_Size__char_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE469_Use_of_Pointer_Subtraction_to_Determine_Size__char_01_good"
	},

	{
		"name": "CWE469_Use_of_Pointer_Subtraction_to_Determine_Size__char_01_bad",
		"files": [ "ub_juliet/CWE469_Use_of_Pointer_Subtraction_to_Determine_Size__char_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE469_Use_of_Pointer_Subtraction_to_Determine_Size__char_01_bad"
	},

	{
		"name": "CWE475_Undefined_Behavior_for_Input_to_API__char_01_good",
		"files": [ "ub_juliet/CWE475_Undefined_Behavior_for_Input_to_API__char_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE475_Undefined_Behavior_for_Input_to_API__char_01_good"
	},

	{
		"name": "CWE475_Undefined_Behavior_for_Input_to_API__char_01_bad",
		"files": [ "ub_juliet/CWE475_Undefined_Behavior_for_Input_to_API__char_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE475_Undefined_Behavior_for_Input_to_API__char_01_bad"
	},

	{
		"name": "CWE476_NULL_Pointer_Dereference__binary_if_01_good",
		"files": [ "ub_juliet/CWE476_NULL_Pointer_Dereference__binary_if_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE476_NULL_Pointer_Dereference__binary_if_01_good"
	},

	{
		"name": "CWE476_NULL_Pointer_Dereference__binary_if_01_bad",
		"files": [ "ub_juliet/CWE476_NULL_Pointer_Dereference__binary_if_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE476_NULL_Pointer_Dereference__binary_if_01_bad"
	},

	{
		"name": "CWE562_Return_of_Stack_Variable_Address__return_buf_01_good",
		"files": [ "ub_juliet/CWE562_Return_of_Stack_Variable_Address__return_buf_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE562_Return_of_Stack_Variable_Address__return_buf_01_good"
	},

	{
		"name": "CWE562_Return_of_Stack_Variable_Address__return_buf_01_bad",
		"files": [ "ub_juliet/CWE562_Return_of_Stack_Variable_Address__return_buf_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE562_Return_of_Stack_Variable_Address__return_buf_01_bad"
	},

	{
		"name": "CWE587_Assignment_of_Fixed_Address_to_Pointer__basic_01_good",
		"files": [ "ub_juliet/CWE587_Assignment_of_Fixed_Address_to_Pointer__basic_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE587_Assignment_of_Fixed_Address_to_Pointer__basic_01_good"
	},

	{
		"name": "CWE587_Assignment_of_Fixed_Address_to_Pointer__basic_01_bad",
		"files": [ "ub_juliet/CWE587_Assignment_of_Fixed_Address_to_Pointer__basic_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE587_Assignment_of_Fixed_Address_to_Pointer__basic_01_bad"
	},

	{
		"name": "CWE665_Improper_Initialization__char_cat_01_good",
		"files": [ "ub_juliet/CWE665_Improper_Initialization__char_cat_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE665_Improper_Initialization__char_cat_01_good"
	},

	{
		"name": "CWE665_Improper_Initialization__char_cat_01_bad",
		"files": [ "ub_juliet/CWE665_Improper_Initialization__char_cat_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE665_Improper_Initialization__char_cat_01_bad"
	},

	{
		"name": "CWE685_Function_Call_With_Incorrect_Number_of_Arguments__basic_01_good",
		"files": [ "ub_juliet/CWE685_Function_Call_With_Incorrect_Number_of_Arguments__basic_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE685_Function_Call_With_Incorrect_Number_of_Arguments__basic_01_good"
	},

	{
		"name": "CWE685_Function_Call_With_Incorrect_Number_of_Arguments__basic_01_bad",
		"files": [ "ub_juliet/CWE685_Function_Call_With_Incorrect_Number_of_Arguments__basic_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE685_Function_Call_With_Incorrect_Number_of_Arguments__basic_01_bad"
	},

	{
		"name": "CWE688_Function_Call_With_Incorrect_Variable_or_Reference_as_Argument__basic_01_good",
		"files": [ "ub_juliet/CWE688_Function_Call_With_Incorrect_Variable_or_Reference_as_Argument__basic_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE688_Function_Call_With_Incorrect_Variable_or_Reference_as_Argument__basic_01_good"
	},

	{
		"name": "CWE688_Function_Call_With_Incorrect_Variable_or_Reference_as_Argument__basic_01_bad",
		"files": [ "ub_juliet/CWE688_Function_Call_With_Incorrect_Variable_or_Reference_as_Argument__basic_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE688_Function_Call_With_Incorrect_Variable_or_Reference_as_Argument__basic_01_bad"
	},

	{
		"name": "CWE690_NULL_Deref_From_Return__char_calloc_01_good",
		"files": [ "ub_juliet/CWE690_NULL_Deref_From_Return__char_calloc_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE690_NULL_Deref_From_Return__char_calloc_01_good"
	},

	{
		"name": "CWE690_NULL_Deref_From_Return__char_calloc_01_bad",
		"files": [ "ub_juliet/CWE690_NULL_Deref_From_Return__char_calloc_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE690_NULL_Deref_From_Return__char_calloc_01_bad"
	},

	{
		"name": "CWE843_Type_Confusion__char_01_good",
		"files": [ "ub_juliet/CWE843_Type_Confusion__char_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE843_Type_Confusion__char_01_good"
	},

	{
		"name": "CWE843_Type_Confusion__char_01_bad",
		"files": [ "ub_juliet/CWE843_Type_Confusion__char_01.c", "testcasesupport/io.c" ],
		"compilation_cmd": "-I testcasesupport/",
		"main": "CWE843_Type_Confusion__char_01_bad"
	}

]
